.App {
  text-align: center;
}

.equal {
    margin: 0 auto;
    display: flex;
}
.result{
    text-align: center;

}
.Form{
  margin: 0 auto;
}
#Sign{
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}