.header {
    width: 100%;
    height: 80px;
    background: #242525;
    display: flex;

  }
  
.nav{
        padding: 5px;
        display: flex;
        justify-content: space-between;
        width: 100%;
 

}
.nav > a  {
    cursor: pointer;
    list-style-type:none ;
    text-decoration: none;
    color: white;

}

.nav > a:hover{

    color: bisque;
}